@import url('http://fonts.cdnfonts.com/css/circular-std-book?styles=16171,16173,16169');

.container {
  padding-top: 18vh;
  width: 82vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.playerImg {
  width: 100%;
}

.heading {
  font-family: Circular Std Bold;
  color: #1a062d;
  font-weight: bold;
  font-size: min(5vw, 67.05px);
}

.helmet1Img {
  width: min(5vw, 67.05px);
  margin-bottom: -1vw;
}

.para {
  font-family: Circular Std Medium, 'sans-serif';
  font-size: 1.4vw;
  color: #1a062d;
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.button {
  padding: 1rem;
  font-family: Circular Std Book, 'sans-serif';
  font-weight: 500;
  font-size: 2vh;
  color: white;
  background-image: linear-gradient(150deg, #65fdf0 0%, #1d6fa3 100%);
  border: none;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.icon {
  color: black;
  font-size: 1rem;
  stroke-width: 0.4;
}

.iconWrapper {
  align-items: center;
  background: white;
  padding-top: 1.7vw;
  padding-bottom: 1.7vw;
  padding-left: 1.7vw;
  padding-right: 1.7vw;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .playerImg {
    width: 115%;
    max-width: 465.517px;
  }

  .heading {
    font-size: min(8vw, 40.4667px);
  }

  .para {
    font-size: min(4.5vw, 19px);
  }
}
