
.heroContainer {
  margin-top: 10rem;
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between; 
  align-items: center;
}

.heroHeading {
  font-size: 2.5vw;
}

.heroPara {
  max-width: 487.9px;
  font-size: min(1.7vw, 19.9833px); 
}

.imgContent {
  width: 50%;
  display: flex; 
  justify-content: flex-end;
  max-width: 639px;
}


.heroImg {
  width: 100%
}
