.heroContainer {
  margin-top: 10rem;
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleWrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.heroHeading {
  font-size: 2.5vw;
}

.heroPara {
  max-width: 487.9px;
  font-size: min(1.7vw, 19.9833px);
}

.imgContent {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  max-width: 639px;
}

.heroImg {
  width: 100%;
}

.smHeroImg {
  display: none;
  /* width: 100%; */
}

@media (max-width: 1024px) {
  .heroContainer {
    margin-top: 3rem;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .middleWrapper {
    flex-direction: column-reverse;
  }
  .heroHeading {
    font-size: min(5.2vw, 28.5px);
  }

  .heroPara {
    font-size: min(3.7vw, 15px);
  }

  .imgContent {
    display: none;
  }

  .smHeroImg {
    max-width: 484px;
    display: inline-flex;
    width: 100%;
  }
}
