.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.logoContainer {
  display: flex;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.linkContainer {
  display: flex;
}

.link {
  text-decoration: none;
  color: #1a062d;
  margin-left: 1.3rem;
}

.link:hover {
  text-decoration: underline;
}

.iconLinkHolder {
  margin-right: 1.5rem;
}

.iconLink {
  font-size: 1.4rem;
  margin-left: 1rem;
  cursor: pointer;
}

.flag {
  width: 2.5rem;
}

.hamIcon {
  display: none;
  width: 2.8rem;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  right: 9vw;
}

.crossIcon {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  right: 9vw;
  font-size: 2.2rem;
  color: white;
}

@media (max-width: 1024px) {
  .linkContainer {
    display: none;
  }

  .hamIcon {
    display: flex;
  }

  .crossIcon {
    display: flex;
  }
}
