.container {
  margin-top: 15rem;
  width: 100%;
  background: linear-gradient(135deg, #00ffe9 0%, #1d6fa3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
}

.textWrapper {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
}

.smallHeading {
  font-size: 2.5vw;
}
.heading {
  font-size: 4.5vw;
}

.para {
  font-size: 1.3rem;
  max-width: 552.95px;
}


@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .img {
    width: 80vw;
    max-width: 460px;
  }

  .smallHeading {
    font-size: min(6vw, 24px);
  }

  .heading {
    font-size: min(8vw, 48.7667px);
  }
}
