.container {
  margin-top: 5rem;
  width: 100%;
}

.sHeading {
  color: #1A062D87;
  margin-left: auto;
  margin-right: auto;
  font-size: min(1.7vw, 17.4px);
  width: max-content;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-size: min(4vw, 52.0667px);
  
}

